<div class="d-flex justify-content-center p-3 mb-2 bg-light text-dark">

<p>
    <strong> <%= DeliveryTime.human_attribute_name(:min_distance) %> : </strong>
    <%= delivery_time.min_distance %> KM ||
  </p>

  <p>
    <strong> <%= DeliveryTime.human_attribute_name(:max_distance) %> : </strong>
    <%= delivery_time.max_distance %> KM ||
  </p>

  <p>
    <strong> <%= DeliveryTime.human_attribute_name(:business_days) %> : </strong>
    <%= delivery_time.business_days %>
  </p>

</div>