<h2 class="text-center"> Boas Vindas! </h2>

<nav class="d-flex justify-content-center">
  <div>
    <% unless admin_signed_in? || user_signed_in? %>
      <p><%= link_to 'Login - Usuário', new_user_session_path %>
        | <%= link_to 'Login - Administrador', new_admin_session_path %></p>
    <% end %>
  </div>
</nav>

<body>
<br>

<div class="container">
<h2 class="text-center display-5 bg-dark text-white rounded-pill">Rastreie seu pedido!</h2>
</div>

<div class="d-flex justify-content-center mt-3">
  <div class="form">
    <%= form_with url: search_service_orders_path, method: :get do |f| %>
      <%= f.label :query, 'Buscar' %>
      <%= f.text_field :query %>
      <%= f.submit 'Enviar', :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

</body>