<h1 class="text-center"> <%= RouteUpdate.model_name.human %> </h1>

<table class="table">
  <thead>
  <tr>
    <th> <%= RouteUpdate.human_attribute_name(:city) %> </th>
    <th> <%= RouteUpdate.human_attribute_name(:time) %> </th>
  </tr>
  <tbody>
  <% @route_updates.each do |update| %>
    <tr>
      <td> <%= update.city %> </td>
      <td> <%= update.time %> </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @route_updates.empty? %>
  <p> Nenhuma atualização ainda! </p>
<% end %>

<%= link_to "Nova atualização de rota", new_company_service_order_route_update_path %>
