<div class="container">
  <h2 class="text-center display-4 bg-dark text-white"> <%= RouteUpdate.model_name.human %>  </h2>
</div>

<div class="container">

  <div class="d-flex justify-content-center">
    <% if @route_updates.empty? %>
      <p> Nenhuma atualização ainda! </p>
    <% end %>
  </div>


  <div class="col">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
      <tr>
        <th> <%= RouteUpdate.human_attribute_name(:city) %> </th>
        <th> <%= RouteUpdate.human_attribute_name(:time) %> </th>
      </tr>
      </thead>
      <tbody>
      <% @route_updates.each do |update| %>
        <tr>
          <td> <%= update.city %> </td>
          <td> <%= update.time %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="d-flex justify-content-center">
  <%= link_to "Nova atualização de rota", new_company_service_order_route_update_path, :class => "btn btn-primary mt-3" %>
</div>
