<div class="d-flex justify-content-center">
  <p>
    <strong><%= Company.human_attribute_name(:corporate_name) %>: </strong>
    <%= company.corporate_name %> ||

    <strong><%= Company.human_attribute_name(:trading_name) %> - </strong>
    <%= company.trading_name %>  ||


    <strong><%= Company.human_attribute_name(:registration_number) %> - </strong>
    <%= company.registration_number %>  ||


    <strong><%= Company.human_attribute_name(:status) %></strong>
    <%= company.status %>
  </p>

</div>