<div class="container mt-5">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
      <tr>
        <th scope="row"> <%= Company.human_attribute_name(:corporate_name) %></th>
        <th scope="row"> <%= Company.human_attribute_name(:trading_name) %>  </th>
        <th scope="row"> <%= Company.human_attribute_name(:registration_number) %></th>
        <th scope="row"> <%= Company.human_attribute_name(:status) %></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= company.corporate_name %> </td>
        <td><%= company.trading_name %></td>
        <td><%= company.registration_number %></td>
        <td><%= company.status %> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
