<% if (@company.errors.any?) %>
  <p>Please check the errors below</p>
  <ul>
    <% @company.errors.full_messages.each do |msg| %>
      <li id='new_errors'><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="form w-50 p-3">
<%= form_with model: @company do |f| %>

    <div class="row">
    <%= f.label :corporate_name %>
    <%= f.text_field :corporate_name %>
  </div>

    <div class="row">
    <%= f.label :trading_name %>
    <%= f.text_field :trading_name %>
  </div>

   <div class="row">
    <%= f.label :email_domain %>
    <%= f.text_field :email_domain %>
  </div>

    <div class="row">
    <%= f.label :registration_number %>
    <%= f.text_field :registration_number %>
  </div>

  <%= f.fields_for :address do |address_form| %>
      <div class="row">
      <%= address_form.label :full_address %>
      <%= address_form.text_field :full_address %>
    </div>

      <div class="row">
      <%= address_form.label :city %>
      <%= address_form.text_field :city %>
    </div>

      <div class="row">
      <%= address_form.label :state %>
      <%= address_form.text_field :state %>
    </div>
  <% end %>

    <div class="row">
    <%= f.label :status %>
    <%= f.select(:status, Company.statuses.keys) %>
  </div>

  <%= f.submit 'Submit' %>
    </div>
<% end %>