<h1>Companies</h1>


<table class="table">
  <thead>
  <tr>
    <th>Corporate Name</th>
    <th>Trading Name</th>
    <th>Registration Number</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.corporate_name %></td>
      <td><%= company.trading_name %></td>
      <td><%= company.registration_number %></td>
      <td><%= company.status %></td>
      <td> <%= link_to "Show this company", company %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @companies.empty? %>
  <p>No companies yet!</p>
<% end %>

<%= link_to "New Company", new_company_path %>