<h1 class="text-center"> <%= Company.model_name.human %> <%= @company.trading_name %></h1>

<div class="d-flex justify-content-center">
  <%= render @company %>
</div>

<div class="d-flex justify-content-center">
  <% if admin_signed_in? %>
    <%= link_to "Voltar", companies_path %> ||
    <%= link_to "Editar transportadora", edit_company_path(@company) %> ||
  <% end %>

  <% if user_signed_in? %>
    <%= link_to "Veículos", company_vehicles_path(@company) %> ||
    <%= link_to "Preços", company_prices_path(@company) %> ||
    <%= link_to "Tempo de entrega", company_delivery_times_path(@company) %> ||
  <% end %>

  <% if user_signed_in? || admin_signed_in? %>
    <%= link_to "Ordens de Serviço", company_service_orders_path(@company) %>
  <% end %>

</div>
