<% if @service_order.errors.any? %>
  <p>Please check the errors below</p>
  <ul>
    <% @service_order.errors.full_messages.each do |msg| %>
      <li id='new_errors'><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="d-flex justify-content-center text-center">
<%= form_with model: [:company, @service_order] do |f| %>
  <div class="form">
    <div class="row">
      <%= f.label :status %>
      <%= f.select(:status, ServiceOrder.statuses.keys) %>
    </div>

    <div class="row">
      <%= f.label :vehicle_id, Vehicle.model_name.human %>
      <%= f.collection_select :vehicle_id, @vehicles, :id, :license_plate %>
    </div>

    <%= f.submit %>
  </div>
    </div>
<% end %>
<p class="text-center"> <%= link_to "Voltar", company_service_orders_path %> </p>