<h1 class="text-center"> <%= ServiceOrder.model_name.human %> </h1>

<table class="table">
  <thead>
  <tr>
    <th> <%= ServiceOrder.human_attribute_name(:code) %> </th>
    <th><%= ServiceOrder.human_attribute_name(:status) %> </th>
    <th>Ação</th>
  </tr>
  </thead>

  <tbody>
  <% @service_orders.each do |service_order| %>
    <tr>
      <td><%= service_order.code %></td>
      <td><%= service_order.status %></td>
      <td><%= link_to "Ver", company_service_order_path(@company, service_order) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <% if @service_orders.empty? %>
    <p>Nenhuma ordem de serviço!</p>
  <% end %>

  <% if admin_signed_in? %>
    <%= link_to "Nova ordem de serviço", new_company_service_order_path %> ||
  <% end %>
  <%= link_to "Voltar", company_path(@company) %>
</div>