<h1>Resultados para: <%= @code %></h1>

<% if @service_order.present? && @service_order.route_updates.present? %>
  <h3> Cidade de origem: <%= @origin_address.city %> | Cidade de destino: <%= @destination_address.city %> </h3>
  <table class="table">
    <thead>
    <tr>
      <th>Data</th>
      <th>Cidade</th>
    </tr>
    </thead>
    <tbody>
    <% @service_order.route_updates.each do |route_update| %>
      <tr>
        <td><%= route_update.time %></td>
        <td><%= route_update.city %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% else %>
  <p>Não encontrado!</p>
<% end %>