<h1 class="text-center"> <%= ServiceOrder.model_name.human @service_order.code %> </h1>

<%= form_with model: @service_order do |f| %>
  <div class="row">
    <%= f.label :status %>
    <%= f.select(:status, ServiceOrder.statuses.keys) %>
  </div>

  <div class="row">
    <%= f.label :vehicle_id, 'Vehicle' %>
    <%= f.collection_select :vehicle_id, @vehicles, :id, :license_plate %> <%#fazer um método para mostrar a marca, modelo e placa do carro %>
  </div>

  <%= f.submit 'Atualizar' %>
<% end %>

