<div>
  <p>
    <strong> Minimum Volume </strong>
    <%= price.min_volume %>
  </p>

  <p>
    <strong> Maximum Volume </strong>
    <%= price.max_volume %>
  </p>

  <p>
    <strong> Minimum Weight </strong>
    <%= price.min_weight %>
  </p>

  <p>
    <strong> Maximum Weight </strong>
    <%= price.max_weight %>
  </p>

  <p>
    <strong> Km Value </strong>
    <%= price.km_value %>
  </p>


</div>