<div class="d-flex justify-content-center">
  <p>
    <strong> <%= Price.human_attribute_name(:min_volume) %> </strong>
    <%= price.min_volume %> cm³ ||
  </p>

  <p>
    <strong> <%= Price.human_attribute_name(:max_volume) %> </strong>
    <%= price.max_volume %> cm³ ||
  </p>

  <p>
    <strong> <%= Price.human_attribute_name(:min_weight) %> </strong>
    <%= price.min_weight %> g ||
  </p>

  <p>
    <strong> <%= Price.human_attribute_name(:max_weight) %> </strong>
    <%= price.max_weight %> g ||
  </p>

  <p>
    <strong> <%= Price.human_attribute_name(:km_value) %> </strong>
    R$<%= price.km_value / 100 %>
  </p>


</div>