<div class="container mt-5">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
      <tr>
        <th scope="row"> <%= Price.human_attribute_name(:min_volume) %> </th>
        <th scope="row"> <%= Price.human_attribute_name(:max_volume) %> </th>
        <th scope="row"> <%= Price.human_attribute_name(:min_weight) %> </th>
        <th scope="row"> <%= Price.human_attribute_name(:max_weight) %> </th>
        <th scope="row"> <%= Price.human_attribute_name(:km_value) %> </th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= price.min_volume %> cm³</td>
        <td><%= price.max_volume %> cm³</td>
        <td> <%= price.min_weight %> g</td>
        <td> <%= price.max_weight %> g</td>
        <td>R$<%= price.km_value / 100 %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
