<h1 class="text-center display-4 bg-dark text-white">  <%= Price.model_name.human %> para volumes: De  <%= @price.min_volume %> até <%= @price.max_volume %></h1>
<h2 class="text-center">Pesos: <%= @price.min_weight %>g até <%= @price.max_weight %>g</h2>
  <br>

<%= render @price %>

<div class="d-flex justify-content-center">
  <%= link_to "Editar", edit_company_price_path(@price) %> ||
  <%= link_to "Voltar", company_prices_path %>
</div>
