<div class="d-flex justify-content-center text-center">

  <%= form_with model: [:company, @vehicle] do |f| %>

    <div class="row">
      <p> <%= @vehicle.errors.full_messages_for(:license_plate).to_sentence if @vehicle.errors %> </p>
      <%= f.label :license_plate %>
      <%= f.text_field :license_plate %>
    </div>

    <div class="row">
      <p><%= @vehicle.errors.full_messages_for(:brand).to_sentence if @vehicle.errors %></p>
      <%= f.label :brand %>
      <%= f.text_field :brand %>
    </div>

    <div class="row">
      <p><%= @vehicle.errors.full_messages_for(:model).to_sentence if @vehicle.errors %></p>
      <%= f.label :model %>
      <%= f.text_field :model %>
    </div>

    <div class="row">
      <p> <%= @vehicle.errors.full_messages_for(:year).to_sentence if @vehicle.errors %> </p>
      <%= f.label :year %>
      <%= f.text_field :year %>
    </div>

    <div class="row">
      <p> <%= @vehicle.errors.full_messages_for(:load_capacity).to_sentence if @vehicle.errors %> </p>
      <%= f.label :load_capacity %>
      <%= f.text_field :load_capacity %>
    </div>


    <%= f.submit %>

  <% end %>

</div>