<% if (@vehicle.errors.any?) %>
  <p>Please check the errors below</p>
  <ul>
    <% @vehicle.errors.full_messages.each do |msg| %>
      <li id='new_errors'><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:company, @vehicle] do |f| %>

  <div>
    <%= f.label :license_plate %>
    <%= f.text_field :license_plate %>
  </div>

  <div>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div>
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>

  <div>
    <%= f.label :load_capacity %>
    <%= f.text_field :load_capacity %>
  </div>

  <%= f.submit 'Submit' %>

<% end %>