<div class="container mt-5">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
      <tr>
        <th scope="row"><%= Vehicle.human_attribute_name(:license_plate) %></th>
        <th scope="row"><%= Vehicle.human_attribute_name(:brand) %></th>
        <th scope="row"><%= Vehicle.human_attribute_name(:model) %></th>
        <th scope="row"><%= Vehicle.human_attribute_name(:year) %></th>
        <th scope="row"><%= Vehicle.human_attribute_name(:load_capacity) %></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= vehicle.license_plate %></td>
        <td><%= vehicle.brand %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.load_capacity %> kg</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
