<div>
  <p>
    <strong>License Plate</strong>
    <%= vehicle.license_plate %>
  </p>

  <p>
    <strong>Brand</strong>
    <%= vehicle.brand %>
  </p>

  <p>
    <strong>Model</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Year</strong>
    <%= vehicle.year %>
  </p>

  <p>
    <strong>Load Capacity</strong>
    <%= vehicle.load_capacity %>
  </p>


</div>