<div class="d-flex justify-content-center">
  <p>
    <strong><%= Vehicle.human_attribute_name(:license_plate) %> : </strong>
    <%= vehicle.license_plate %> ||
  </p>

  <p>
    <strong><%= Vehicle.human_attribute_name(:brand) %> : </strong>
    <%= vehicle.brand %> ||
  </p>

  <p>
    <strong><%= Vehicle.human_attribute_name(:model) %> : </strong>
    <%= vehicle.model %> ||
  </p>

  <p>
    <strong><%= Vehicle.human_attribute_name(:year) %> : </strong>
    <%= vehicle.year %> ||
  </p>

  <p>
    <strong> <%= Vehicle.human_attribute_name(:load_capacity) %> : </strong>
    <%= vehicle.load_capacity %>
  </p>


</div>