<h1 class="text-center"> <%= Vehicle.model_name.human %> </h1>

<table class="table">
  <thead>
  <tr>
    <th><%= Vehicle.human_attribute_name(:model) %></th>
    <th><%= Vehicle.human_attribute_name(:brand) %></th>
    <th><%= Vehicle.human_attribute_name(:year) %></th>
    <th><%= Vehicle.human_attribute_name(:load_capacity) %></th>
    <th><%= Vehicle.human_attribute_name(:license_plate) %></th>
    <th>Ação</th>
  </tr>
  </thead>

  <tbody>
  <% @vehicles.each do |vehicle| %>
    <tr>
      <td><%= vehicle.model %></td>
      <td><%= vehicle.brand %></td>
      <td><%= vehicle.year %></td>
      <td><%= vehicle.load_capacity %></td>
      <td><%= vehicle.license_plate %></td>
      <td><%= link_to "Ver", company_vehicle_path(@company, vehicle) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @vehicles.empty? %>
  <p>Nenhum veículo cadastrado!</p>
<% end %>

<%= link_to "Novo veículo", new_company_vehicle_path %>