<div class="d-flex justify-content-center p-3 mb-2 bg-light text-dark">


<p>
    <strong><%= Product.human_attribute_name(:code) %>: </strong>
    <%= product.code %> ||
  </p>

  <p>
    <strong><%= Product.human_attribute_name(:height) %>: </strong>
    <%= product.height %> cm ||
  </p>

  <p>
    <strong><%= Product.human_attribute_name(:width) %>: </strong>
    <%= product.width %> cm ||
  </p>

  <p>
    <strong><%= Product.human_attribute_name(:depth) %>: </strong>
    <%= product.depth %> cm ||
  </p>

  <p>
    <strong><%= Product.human_attribute_name(:weight) %>: </strong>
    <%= product.weight %> g ||
  </p>

  <p>
    <strong><%= Product.human_attribute_name(:volume) %>: </strong>
    <%= product.volume %> cm³
  </p>

</div>
