<div>
  <p>
    <strong>Product Code</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Product Code</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Height</strong>
    <%= product.height %>
  </p>

  <p>
    <strong>Width</strong>
    <%= product.width %>
  </p>

  <p>
    <strong>Depth</strong>
    <%= product.depth %>
  </p>

  <p>
    <strong>Weight</strong>
    <%= product.weight %>
  </p>

  <p>
    <strong>Volume</strong>
    <%= product.volume %>
  </p>

</div>
