<!DOCTYPE html>
<html>
<head>
  <title>DeliverySystem</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application" %>
</head>

<body>
<h1 class="text-center display-3">Delivery System </h1>
<p class="text-center" style="font-size: x-small;"> Don't believe the hype. Just code. </p>

<br>
<br>

<% if admin_signed_in? %>
  <p class="text-center">
    <strong><%= link_to 'Início', root_path %></strong> ||
    <strong><%= link_to 'Transportadoras', companies_path %></strong> ||
    <strong>Admin: </strong><%= current_admin.email %>
  </p>

  <div class="d-flex justify-content-center">
    <%= button_to 'Sair', destroy_admin_session_path, method: :delete, :class => "btn btn-danger navbar-btn" %>
  </div>

<% elsif user_signed_in? %>
  <p class="text-center">
    <strong><%= link_to 'Início', root_path %></strong> ||
    <strong><%= link_to 'Minha transportadora', company_path(current_user.company_id) %></strong>||
    <strong> User: </strong> - <%= current_user.email %>
  </p>

  <div class="d-flex justify-content-center">
    <%= button_to 'Sair', destroy_user_session_path, method: :delete, :class => "btn btn-danger navbar-btn" %>
  </div>

<% end %>
<br>
<br>

<div>
  <%= alert %>
  <%= notice %>
</div>

<%= yield %>
</body>
</html>