<!DOCTYPE html>
<html>
<head>
  <title>DeliverySystem</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application" %>
</head>

<body>
<h1 class="text-center display-3">Delivery System </h1>
<p class="text-center" style="font-size: x-small;"> Don't believe the hype. Just code. </p>

<br>
<br>

<% if admin_signed_in? || user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <% if admin_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav me-auto px-5 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <%= link_to 'Início', root_path, :class => "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Transportadoras', companies_path, :class => "nav-link active" %>
          </li>
        </ul>

        <ul class="nav justify-content-end px-3">
          <li class="nav-link active text-white mt-2">
            <strong>Admin</strong>: <%= current_admin.email %>
          </li>
          <li class="nav-link active text-white">
            <%= button_to 'Sair', destroy_admin_session_path, method: :delete, :class => "btn btn-danger navbar-btn" %>
          </li>
        </ul>

      </div>

    <% elsif user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav me-auto my-2 my-lg-0 px-5 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <%= link_to 'Início', root_path, :class => "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Minha transportadora', company_path(current_user.company_id), :class => "nav-link active" %>
          </li>
        </ul>

        <ul class="nav justify-content-end px-3">
          <li class="nav-link active text-white mt-2">
            <%= current_user.email %>
          </li>
          <li class="nav-link active text-white">
            <%= button_to 'Sair', destroy_user_session_path, method: :delete, :class => "btn btn-danger navbar-btn" %>
          </li>
        </ul>

      </div>
    <% end %>
  </nav>

<% end %>

<br>
<br>

<div>
  <%= alert %>
  <%= notice %>
</div>

<%= yield %>

<br>
<br>
</body>
</html>